*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.jumbotron{
    max-width: 100%;
}

.img-fluid{
    max-width: 100%;
    object-fit: contain;
    max-height:max-content;
}

.bg-gray{
    background-color: #d9d9d9;
    height: 100%;
}

.flex {
    display: flex;
    height: calc(100% - 25px)

}

h1 {
    transform: rotate(-90deg);
    white-space: nowrap; 
    color: #ED4859;
    font-size: 50px;
}

.left {
    width: 30%;
    max-height: 100%;
    
}

.right {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.container {
    height: 100vh;
}

.main-container .row:nth-child(1){
    padding-top: 0;
}

.main-container .row:nth-child(3){
    padding-bottom: 3px;
}

.row {
    height: calc(100%/3);
    padding: 3px 0 0 3px;
}

.img-flag{
    width: 100%;
    object-fit: contain;
    max-height: 100%;
    padding: 10px;
}

.sidebar{
    background-color: #F7EADA;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.main-container{
    width: 100%;
}

.marginb-20{
    margin-bottom: 20px;
}

.titoletto {
    font-weight: bold;
    padding-left: 5px;
    font-size: 20px;
    line-height: 25px;
}

.link{
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content:center;
    padding-left: 60px;

}

.padding {
    padding-left: 3px;
}

a{
    font-size: 25px;
    margin: 10px;
}

a:hover{
    color: #ED4859;
    transition: all 0.3s;
}

.h70 {
    height: 70vh
}




